:root {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container > div {
    border: 1px solid green;
    /* height: 20rem; */
    /* width: 20rem; */
}

.side-bar {
    /* height: 100%; */
    grid-row: 1 / 3;
}

