@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}

:root {
    box-sizing: border-box;
    --main-font-family: 'Roboto', sans-serif;
    --primary-color: #f97316;
    --seconday-color: #fed7aa;
    --primary-background-color: #d4d4d4;
    --main-primary-font-size: 13px;
    --main-small-font-size: 10px;
    --main-primary-font-color: #706f6f;
    --primary-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    --primary-border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-top: 1px solid var(--main-primary-font-color);
    border-bottom: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--main-font-family);
    background-color: var(--primary-background-color);
}


/* Container */
.container {
    min-height: inherit;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 6fr;
    /* grid-template-rows: 1fr 5fr; */
    grid-template-rows: auto 1fr;
}


/* Header */
.header {
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-columns: 1fr auto;
    gap: 2rem 1rem;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--seconday-color);
    box-shadow: var(--primary-box-shadow);
}

/* .search-bar */
#mag-glass {
    vertical-align: middle;
    margin-right: 5px;
    height: 100;
}

.search-bar > input[type="search"] {
    appearance: none;
    border: none;
    min-width: 100px;
    width: 45%;
    height: 2rem;
    border-radius: 1rem;
    color: var(--primary-background-color);
    background-color: var(--primary-background-color);
}

/* .profile-nav */
.profile-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 14px;
}

.profile-pic-small {
    height: 40px;
    width: 40px;
}

.profile-nav-user {
    font-size: 15px;
    font-weight: 1000;
}

/* .user-greeting */
.user-greeting {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.profile-pic-large {
    width: 60px;
    height: 60px;
}

.greeting-message {
    align-self: center;
    font-weight: 1000;
}

.greeting {
    font-size: 11px;
}

/* .post */
.post {
    justify-self: end;
    display: flex;
    gap: 1rem;
}

.post-button {
    color: white;
    background-color: var(--primary-color);
    appearance: none;
    border: none;
    border-radius: 1rem;
    padding: 8px 2rem;
    font-weight: 1000;
}


/* Side-bar */
.side-bar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 2fr;
    gap: 2rem; 
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.logo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#logo {
    height: 60px;
    width: 60px;
    fill: white;
}

#dashboard {
    font-size: 1.6rem;
    vertical-align: middle;
    align-self: center;
}

/* Nav */
.nav,
.settings {
    padding-left: 1rem;
}

.nav-item,
.settings-item {
    padding: 0.5rem 0;
}

.nav-icon,
.settings-icon {
    height: 1.4rem;
    width: 1.4rem;
    padding-right: 0.5rem;
    vertical-align: bottom;
    fill: white;
}


/* Main */
.main {
    align-self: start;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.5rem;
    padding: 1.5rem 2rem 1.5rem 1rem;
}

.main-headers {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-container, .announcements-container, .trending-container {
    margin-top: 1rem;
 }

 .announcements-container, .trending-container {
    padding: 1rem;
 }

 .card, .announcements-container, .trending-container {
    box-shadow: var(--primary-box-shadow);
    border-radius: var(--primary-border-radius);
    background-color: white;
 }

.card-text, .trend-text {
    font-size: var(--main-primary-font-size);
}

.card-text, .announcement-text, .trend-text {
    color: var(--main-primary-font-color);
    font-weight: 100;
}

 /* .projects */
.projects {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex: 1;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.card-title {
    font-weight: 1000;
}

.actions {
    align-self: end;
}

.action-icon {
    height: 20px;
    width: 20px;
    margin-right: 1rem;
    vertical-align: bottom;
}

/* .annoucements */
.announcements-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement-title {
    font-weight: 1000;
    font-size: 15px;
}

.announcement-text {
    font-size: var(--main-small-font-size);
}

/* .trending */
.trending-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.trend {
    display: flex;
    gap: 10px;
}

/* .trend-profile-pic {
    height: 40px;
    width: 40px;
    vertical-align: bottom;
} */

.trend-content {
    align-self: center;
}

.trend-user {
    font-size: var(--card-font-size);
}