@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}

:root {
    box-sizing: border-box;
    --main-font-family: 'Roboto', sans-serif;
    --primary-color: #f97316;
    --seconday-color: #fed7aa;
    --primary-background-color: #d4d4d4;
    --card-font-size: 13px;
    --primary-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    --primary-border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--main-font-family);
    background-color: var(--primary-background-color);
}


/* Container */
.container {
    min-height: inherit;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 6fr;
    grid-template-rows: 1fr 5fr;
}


/* Header */
.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem 1rem;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--seconday-color);
}

#mag-glass {
    vertical-align: middle;
    margin-right: 5px;
    height: 100;
}

.search-bar > input[type="search"] {
    appearance: none;
    border: none;
    width: 80%;
    height: 2rem;
    border-radius: 1rem;
    color: var(--primary-background-color);
    background-color: var(--primary-background-color);
}

.post {
    justify-self: end;
}


/* Side-bar */
.side-bar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 2fr;
    gap: 2rem; 
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
.logo {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#logo {
    height: 60px;
    width: 60px;
    fill: white;
}

#dashboard {
    font-size: 1.6rem;
    vertical-align: middle;
    align-self: center;
}

/* Nav */
.nav,
.settings {
    padding-left: 1rem;
}

.nav-item,
.settings-item {
    padding: 0.5rem 0;
}

.nav-icon,
.settings-icon {
    height: 1.4rem;
    width: 1.4rem;
    padding-right: 0.5rem;
    vertical-align: bottom;
    fill: white;
}


/* Main */
.main {
    align-self: start;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.5rem;
    padding: 1.5rem 2rem 1.5rem 1rem;
}

.card-container, .announcements-container {
    margin-top: 1rem;
 }

 .card, .announcements-container {
    box-shadow: var(--primary-box-shadow);
    border-radius: var(--primary-border-radius);
 }

 /* .projects */
.projects {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex: 1;
    gap: 1rem;
}

.card {
    /* min-height: max-content; */
    /* max-height: max-content; */
    /* max-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
}

.card-text {
    font-size: var(--card-font-size);
    color: #706f6f;
    font-weight: 100;
}

.card-title {
    font-weight: 1000;
}

.actions {
    align-self: end;
    /* margin-top: 20px; */
}

.action-icon {
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

/* .annoucements */
.announcements {
    display: flex;
    flex-direction: column;
}

.announcements-container {
    flex: 1;
    display: grid;
    background-color: white;
    padding: 1rem;
}